@model IEnumerable<test.Models.BookSearchArg>
@{
    ViewBag.Title = "Index";
}
<div id="Window" style="display:none">
    <form id="Search_Win">
        <h3>查詢書籍</h3>
        書名：<input id="BOOK_NAME" style="width: 80%;"><br><br>
        圖書類別：<input id="BOOK_CLASS_NAME" style="width: 80%;"><br><br>
        借閱狀態：<input id="BOOK_STATUS" style="width: 80%;"><br><br>
        借閱人：<input id="BOOK_KEEPER" style="width: 80%;"><br><br>
        <button type="button" class="k-button k-primary btn-add-book" id="SearchBook">查詢</button>
    </form>
    <form id="Insert_Win">
        <h3>新增書籍</h3>
        書名：<input id="BOOK_NAME1" class="k-textbox" required style="width: 220px;" /><br><br>
        作者：<input id="BOOK_AUTHOR1" class="k-textbox" required style="width: 220px;" /><br><br>
        出版社：<input id="BOOK_PUBLISHER1" class="k-textbox" required style="width: 220px;" /><br><br>
        內容簡介：<input id="BOOK_NOTE1" class="k-textbox" required style="width: 220px;" /><br><br>
        購買日期：<input id="BOOK_BOUGHT_DATE1" class="k-textbox" required style="width: 220px;" /><br><br>
        書籍分類：<input id="BOOK_CLASS_ID1" class="k-textbox" required style="width: 220px;" /><br><br>
        <button type="button" class="k-button k-primary btn-add-book" id="InsertBook">新增</button>
    </form>
    <form id="Update_Win">
        <h3>修改書籍</h3>
        書名：<input id="BOOK_NAME2" class="k-textbox" required style="width: 220px;" /><br><br>
        作者：<input id="BOOK_AUTHOR2" class="k-textbox" required style="width: 220px;" /><br><br>
        出版社：<input id="BOOK_PUBLISHER2" class="k-textbox" required style="width: 220px;" /><br><br>
        內容簡介：<input id="BOOK_NOTE2" class="k-textbox" required style="width: 220px;" /><br><br>
        購買日期：<input id="BOOK_BOUGHT_DATE2" class="k-textbox" required style="width: 220px;" /><br><br>
        書籍分類：<input id="BOOK_CLASS_ID2" class="k-textbox" required style="width: 220px;" /><br><br>
        書籍狀態：<input id="BOOK_STATUS2" class="k-textbox" required style="width: 220px;" /><br><br>
        借閱人：<input id="BOOK_KEEPER2" class="k-textbox" required style="width: 220px;" /><br><br>
        <button type="button" class="k-button k-primary btn-add-book" id="UpdateBook">修改</button>
    </form>
</div>
<br><span id="Search" class="k-button hide-on-narrow">查詢</span>
<span id="Insert" class="k-button hide-on-narrow">新增</span><br><br>
<div id="Book_Grid"></div>
<div style="display:none">
    <ul id="list">
        @{ var x = 1;}
        @foreach (var item in (List<test.Models.BookSearchArg>)ViewBag.i)
        {
            <li id="@x">@item.BOOK_NAME|@item.BOOK_BOUGHT_DATE|@item.BOOK_CLASS_NAME|@item.CODE_NAME|@item.BOOK_KEEPER|@item.BOOK_ID</li>
            x += 1;
        }
    </ul>
</div>

